.jumbotron {
  background-image: url(https://img.icons8.com/cotton/2x/herbal-medicine.png);
  background-position: center;
  background-size: contain;
  color: #465DFF;
  height: 200px;
  background-repeat: no-repeat;
  background-position: right;
  text-align: justify;
}

.user-card {
  padding: 20px;
}

.user-input {
  margin-top: 10px;
  margin-bottom: 10px;
}

#submit-button {
  margin-top: 20px;
}

.doctors-card {
  /* display: none; */
  margin-top: 20px;
  margin-right: 15px;
}

.doctors-list {
  margin: 20px;
  margin-top: 50px;
  margin-left: 50px;
  padding-bottom: 100px;
}

#details-button {
  margin: 20px;
  margin-left: 25px
}

#doctor-info {
  padding: 20px;
  padding-left: 30px;
  text-align: justify;
}

img {
  right: 50px;
}

#show-map {
  float: right;
}

#map-body {
  display: none;
  padding: 20px;
  margin-top: 20px;
}
